.context{
    background-color: rgb(143, 248, 248);
   
}
.context p{
    padding: 0 25px 25px 25px;
   
}

.semantic{
    background-color:rgb(169, 236, 214) ;
   
}
.semantic p{
    padding: 0 25px 25px 25px;
   
}