.home{
    display: flex;
    justify-content: space-around;
}
.purchage{
    width:500px;
    padding-left: 20px;
}
h2{
    color: rgb(241, 79, 15);
}

.home p{
    width:500px;
    padding-left: 20px;
}

.Customer-Reviews h1{
    text-align: center;
}

.pic img{
    margin-top: 30px;
    height: 400px;
    width: 500px;
}
button{
    margin-bottom: 15px;
    background-color: rgb(165, 108, 219);
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
}